/* css/style.css - VERSÃO FINAL COMPLETAMENTE REFATORADA */
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family:'Oswald', sans-serif;
}

html,body{ height: 100%; }

.container{
	width: 100%;
	max-width: 1400px;
	margin:0 auto;
}

.clear{ clear: both; }

/* --- HEADER --- */
header{
	padding:20px 2% 35px 2%;
	height: 130px;
	background-color: #0D1E32;
}

header div.logo{ float: left; }

header nav.desktop{
	float: right;
	position: relative;
	top:40px;
}

header nav.desktop a:hover, header nav.mobile a:hover{ color: #B5D9D7; }

nav.mobile ul {
    list-style: none;
    display: none;
    justify-content: center;
    padding-top: 40px;
}

nav.mobile li { margin: 0 10px; font-size: 23px; font-style: italic; }

nav.mobile li a{ color: white; text-decoration: none; font-size: 16px; }

header nav.desktop ul{ list-style-type: none; }

header nav.desktop ul li{
	float: left;
	font-size: 23px;
	padding:0 30px;
	font-style: italic;
}

header nav.desktop a{ color: white; text-decoration: none; }

/* --- BANNER & GRADIENT --- */
.gradient{
	width: 100%;
	height: 25px;
	background: linear-gradient(180deg, rgba(13,30,50,1) 60%, rgba(0,0,0,1) 100%);
}

section.banner{
	overflow:hidden;
	width: 100%;
	height: 650px;
	background-color: black;
	background-image: url('../imagens/iphone.jpg');
	background-size: contain;
	background-position: right bottom;
	background-repeat: no-repeat;
}

.text-banner{ padding:70px; }

.text-banner-single{
	width: 328px;
	font-style: italic;
	margin-top:30px;
	height: 70px;
	line-height: 70px;
	padding-left: 50px;
	text-transform: uppercase;
	color: white;
	font-size: 23px;
	background-image: url('../imagens/box-text.png');
	background-size: 100% 100%;
	background-repeat: no-repeat;
}

.text-banner .text-banner-single:nth-of-type(2){ width: 220px; left: -10px; }
.text-banner .text-banner-single:nth-of-type(3){ width: 270px; left: -20px; }
.text-banner .text-banner-single:nth-of-type(4){
	width: 320px; font-size: 21px; color: black; left: -30px;
	text-transform: none; background-image: url('../imagens/box-white-text.png');
}

/* --- DESTAQUES & CATALOGO (ANTIGO VEICULOS) --- */
section.destaques-iphone{ padding:90px 2%; }
section.destaques-iphone .container{ padding:40px 0; }

.line-titulo{
	max-width: 1400px;
	margin:0 auto;
	position: relative;
	text-align: center;
}

.ln1{
	position: absolute;
	height: 2px;
	width: 100%;
	top:20px;
	background:black;
}

.line-titulo h2{
	position: relative;
	background: white;
	display: inline-block;
	text-align: center;
	font-size: 27px;
	padding:0 20px;
	font-style: italic;
	text-transform: uppercase;
}

.card-iphone{
	float: left;
	width: 33.3%;
	text-align: left;
}

.card-iphone .img-iphone{
	width: 100%;
	padding-top: 100%;
	border:8px solid white;
	background-size: 80% 80%;
	background-repeat: no-repeat;
	background-position: center;
}

.card-iphone h2{
	margin-left: 28%;
	padding-left: 8px;
	color: black;
	font-style: italic;
	font-size: 20px;
}

.card-iphone p{
	margin-left: 28%;
	padding-top: 8px;
	padding-left: 8px;
	color: #353535;
	font-size: 15px;
	font-style: italic;
}

.btn1{
	text-align: center;
	display: block;
	line-height: 40px;
	background-color:#EB2D2D;
	text-decoration: none;
	border-bottom: 5px solid #B21E1E;
	color: white;
	font-size: 16px;
	font-style: italic;
	width: 150px;
}

.card-iphone a{ margin-left: 30%; margin-top:10px; }

/* --- PÁGINA DE DETALHES (ANTIGO VENDA-SINGLE) --- */
section.detalhes-produto { padding:80px 2% 0 2%; }
section.detalhes-produto .container { padding:40px 0 0 0; text-align: center; max-width: 1280px; }

.coluna-visual { display: inline-block; width: 60%; vertical-align: top; }
.coluna-opcoes { vertical-align: top; display: inline-block; padding:60px 20px; text-align: left; width: 38%; }

/* Galeria de imagens */
.foto-destaque {
	width: 100%;
	padding-top:70%;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}

.nav-galeria-parent { width: 100%; padding:36px; position: relative; }
.nav-galeria { overflow: hidden; width: 100%; }
.nav-galeria-wraper { width: 200%; }
.mini-img-wraper { float: left; padding:9px; width:calc(33.3% * (100 / 200)); }
.mini-img { width: 100%; cursor: pointer; padding-top:70%; background-position: center; background-size: cover; }

.arrow-left-nav, .arrow-right-nav {
	position: absolute; top: 50%; cursor: pointer;
	transform:translateY(-50%); width: 22px; height: 22px;
	background-size: 100% 100%;
}
.arrow-left-nav { left: 8px; background-image:url('../imagens/arrow-left.png'); }
.arrow-right-nav { right: 8px; background-image:url('../imagens/arrow-right.png'); }

/* Breadcrumbs */
.breadcrumbs { padding:20px 0; text-align: left; }
.breadcrumbs a { text-decoration: none; color: black; }
.breadcrumbs a:last-child { color: red; }
.breadcrumbs span { padding:0 30px; }

/* Animações e Estilos do Formulário */
@keyframes slideInFromLeft {
	from { transform: translateX(-100%); opacity: 0; }
	to { transform: translateX(0); opacity: 1; }
}
  
.coluna-opcoes h2 { font-size: 24px; animation: slideInFromLeft 1s forwards; }
.coluna-opcoes strong { font-size: 15px; animation: slideInFromLeft 1s forwards; }
.coluna-opcoes label { padding-left: 7px; display: block; margin-top: 5px; cursor: pointer;}
.coluna-opcoes p { padding-top: 10px; font-weight: bold; }
.coluna-opcoes a, .coluna-opcoes button { margin-top:15px; }

.gray { margin-top: 65px; background-color: #F5F5F7; margin-left: 20px; }

/* --- HOME SECTIONS --- */
.servicos-descricao{ display: flex; }

.half1{ width: 50%; text-align: right; padding:90px 0; background: #0D1E32; color: white; }
.half1-wraper{ padding-right: 20%; text-align: left; display: inline-block; }
.half1-wraper h2, .half2 h2{ font-weight: normal; font-style: italic; font-size: 32px; }
.half1-wraper ul{ display: inline-block; margin-top:20px; }
.half1-wraper li{ margin-left: 15px; }
.half1-wraper a{ margin-left: 40px; display: inline-block; vertical-align: bottom; background-color: #B5D9D7; border-bottom: 5px solid #7fa7a5; color: black; }

.half2{ width: 50%; padding:90px 100px; background:#FB991C; color: #252525; }
.half2 .depoimento-single{ margin-top:19px; }
.depoimento-single p{ font-size: 22px; }
.nome-depoimento{ float: right; color: #252525; font-size: 23px; }

/* --- CONTATO & SOBRE --- */
section.contato{ padding:80px 2% 0 2%; }
.social-icons { text-align: center; height: 30vh; margin-top: 150px; }
.social-icons i { font-size: 50px; margin: 0 20px; color: #333; }

section.sobre{ min-height: 90%; padding:60px 2% 20px 2%; }
section.sobre .container{ max-width: 840px; margin-top:30px; }
section.sobre .img-destaque-sobre{ width: 100%; padding-top:60%; background-repeat: no-repeat; background-size: cover; }
section.sobre .descricao-autor{ margin-top:20px; }
.descricao-autor h2{ font-size: 24px; }
.descricao-autor p{ line-height: 28px; font-size: 16px; margin-top:10px; }
.descricao-autor2{ margin-top:40px; }
.img-small{ width: 30%; padding-top:30%; float: left; background-repeat: no-repeat; background-size: cover; }
.descricao-autor2 p{ float: left; width: 70%; line-height: 24px; padding:15px; }

/* --- FOOTER --- */
footer{ margin-top:20px; padding:40px 2%; background: #0D1E32; }
footer nav{ float: left; }
footer nav ul{ list-style-type: none; }
footer nav ul li{ float: left; font-style: italic; padding:0 35px; font-size: 19px; }
footer nav ul a{ color: white; text-decoration: none; }
footer p{ float: right; color: white; font-size: 19px; font-style: italic; }

/* --- CATALOGO PAGE --- */
section.catalogo{ padding:90px 2%; min-height: 90%; }
.grid-catalogo{ width: 100%; }
.grid-catalogo .card-iphone{ margin-top:20px; }
#nem, #nemb{ text-align: center; margin: 0 auto; }
#nemb{ margin-top: 25px; width: 20vw; }

/* --- RESPONSIVIDADE --- */
@media screen and (max-width: 1100px){
	.half1{ text-align: center; }
	.half1-wraper{ text-align: left; padding-right: 0; }
	.half1-wraper a{ display: block; margin-left: 0; margin-top:15px; }
}

@media screen and (max-width: 768px){
	.text-banner-single{ display: none; }
    .card-iphone h2, .card-iphone p, .card-iphone a { margin-left: 0; }
	section.banner{ background-image: url('../imagens/WonderLust1x1.png'); background-size: cover; background-position: 100px center; height: 80vh; }
	nav.desktop { display: none; }
	footer{ text-align: center; }
	footer p{ float: none; }
    footer nav { display: none; }
	section.servicos-descricao{ flex-direction: column; }
	.half1,.half2{ padding:80px 4%; width: 100%; }
	.grid-catalogo{ text-align: center; width: 100%; }
    
    /* Detalhes Mobile */
    .coluna-visual, .coluna-opcoes { width: 100%; display: block; }
    .coluna-opcoes { padding: 20px 0; text-align: center; }
    .gray { width: 100%; margin-left: 0; }
}

@media screen and (max-width: 580px){
    section.destaques-iphone .container{ max-width: 1000px; padding:40px 0; text-align: center; }
    .card-iphone{ display: inline-block; float: none; width: 80%; text-align: center; margin-top:20px; }
    .img-small{ display: none; }
    .descricao-autor2 p{ width: 100%; padding:20px 0; }
}